html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}

.shop-wrapper {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
}

.notification {
  display: flex;
  padding: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.5rem;
  position: fixed;
  width: calc(100vw - 2rem);
  margin: 1rem;
  color: #374151;
  background-color: #f3f4f6;
  top: 0;
}

.notification-icon {
  display: flex;
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
}

.notification-text {
  margin-left: 0.75rem;
}

.notification-close {
  margin: -0.375rem;
  margin-left: auto;
  padding: 0.375rem;
  border-radius: 0.5rem;
  border: none;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.notification.warning {
  color: #a16207;
  background-color: #fef9c3;
}

.notification.warning .notification-close {
  color: #eab308;
  background-color: #fef9c3;
}

.notification.warning .notification-close:hover {
  background-color: #fef08a;
}

.notification.success {
  color: #047857;
  background-color: #d1fae5;
}

.notification.success .notification-close {
  color: #10b981;
  background-color: #d1fae5;
}

.notification.success .notification-close:hover {
  background-color: #a7f3d0;
}

.notification.danger {
  color: #b91c1c;
  background-color: #fee2e2;
}

.notification.danger .notification-close {
  color: #ef4444;
  background-color: #fee2e2;
}

.notification.danger .notification-close:hover {
  background-color: #fecaca;
}

.floating-settings {
  position: fixed;
  display: flex;
  flex-direction: row;
  right: 1rem;
  bottom: 1rem;
  padding: 0.25rem 0.5rem;
  display: flex;
  gap: 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid #e5e7eb;
  background-color: #f9fafb;
}

.floating-settings-button {
  display: flex;
  width: 2rem;
  height: 2rem;
  padding: 0.375rem;
  cursor: pointer;
  border-radius: 0.375rem;
  color: #6b7280;
  background-color: #f9fafb;
  border: none;
}

.floating-settings-button:hover {
  background-color: #e5e7eb;
}

.floating-settings-icon {
  display: flex;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  animation: spin 1s linear infinite;
  border-radius: 9999px;
  border-width: 3px;
  border-style: solid;
  border-color: white white transparent;
}

.loading.global {
  border-color: #d97706 #d97706 transparent;
}

.loading.button {
  width: 1rem;
  height: 1rem;
  border-width: 2px;
  border-color: #1e293b #1e293b transparent;
}

.product-form > * + * {
  margin-top: 0.75rem;
}

.input-group-label {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: block;
  margin-bottom: 0.5rem;
}

.input-group-price {
  position: relative;
}

.input-group-price-currency {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  position: absolute;
  left: 0;
  top: 0px;
  bottom: 0px;
  pointer-events: none;
  color: #6b7280;
}

.input-group-price .input-group-field {
  padding-left: 2.25rem;
}

.input-group-field {
  display: block;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid #e5e7eb;
}

.input-group-file {
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border: 1px solid #e5e7eb;
  width: 100%;
  border-radius: 0.375rem;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.input-group-file::-webkit-file-upload-button {
  margin-right: 1rem;
  border-width: 0px;
  background-color: transparent;
  background-color: #f3f4f6;
  padding: 0.5rem 1rem;
}

.input-group-file::file-selector-button {
  margin-right: 1rem;
  border-width: 0px;
  background-color: transparent;
  background-color: #f3f4f6;
  padding: 0.5rem 1rem;
}
